.custom-panel-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    width: 320px;
    overflow-y: scroll;
    border-left: 1px solid #d9d9d9;
}

.custom-panel-container .tool-bar {
    padding: 10px 20px;
    background-color: #bbb;
    position: fixed;
    top: 0;
    left: 50%;
}
